[submodule "userspace/tl"]
	path = userspace/tl
	url = https://github.com/PoopyPooOS/tl
[submodule "userspace/logger"]
	path = userspace/logger
	url = https://github.com/PoopyPooOS/logger
[submodule "userspace/ipc"]
	path = userspace/ipc
	url = https://github.com/PoopyPooOS/ipc
[submodule "userspace/init"]
	path = userspace/init
	url = https://github.com/PoopyPooOS/init
[submodule "userspace/serviced"]
	path = userspace/serviced
	url = https://github.com/PoopyPooOS/serviced
[submodule "dylib-crates/tokio"]
	path = dylib-crates/tokio
	url = https://github.com/PoopyPooOS/tokio
[submodule "dylib-crates/serde"]
	path = dylib-crates/serde
	url = https://github.com/PoopyPooOS/serde
[submodule "userspace/coreutils"]
	path = userspace/coreutils
	url = https://github.com/PoopyPooOS/coreutils
[submodule "dylib-crates/clap"]
	path = dylib-crates/clap
	url = https://github.com/PoopyPooOS/clap
[submodule "userspace/login"]
	path = userspace/login
	url = https://github.com/PoopyPooOS/login
