[submodule "userspace/tl"]
	path = userspace/tl
	url = https://github.com/PoopyPooOS/tl
[submodule "userspace/logger"]
	path = userspace/logger
	url = https://github.com/PoopyPooOS/logger
[submodule "userspace/ipc"]
	path = userspace/ipc
	url = https://github.com/PoopyPooOS/ipc
[submodule "userspace/init"]
	path = userspace/init
	url = https://github.com/PoopyPooOS/init
[submodule "userspace/serviced"]
	path = userspace/serviced
	url = https://github.com/PoopyPooOS/serviced
[submodule "userspace/coreutils"]
	path = userspace/coreutils
	url = https://github.com/PoopyPooOS/coreutils
[submodule "userspace/login"]
	path = userspace/login
	url = https://github.com/PoopyPooOS/login
[submodule "patches/nushell"]
	path = patches/nushell
	url = https://github.com/PoopyPooOS/nushell
